body {
  margin-right: 20px;
  margin-left: 20px;
  background: #eb3b5a;  /* fallback for old browsers */

}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}

.Site-content {
  flex: 1;
}

html {

  font-family: Arial, Helvetica, sans-serif;

}


h1 {
  font-size: 60px;
  color: #fed330;
}

h2 {
  font-size: 30px;
  color: #fed330;
}

h2.middleClass {
  text-align: center;
}


p {
  font-size: 24px;
  color: white;
  margin-bottom: 2em;
}

.header {
  display: flex;
  justify-content: center;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.container {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 100%;
  margin: 0;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
}

#inputContainer {
  display: flex;
  padding-left: 30px;
  align-items: center;
  justify-content: center;
  
}

::placeholder { /* Firefox, Chrome, Opera */ 
  color: #d1d8e0;
}
.inputContainer button {
  -webkit-appearance: none;
  width: 200px;
  height: 60px;
  background-attachment: transparent;
  border: 2px solid black;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fed330;
  color: 20bf6b;
}

#txtComputer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color:#20bf6b;
  margin-top: 10px;
  padding-left: 20px;
}

.inputContainer button:hover {

  background-color: #20bf6b;
  color: yellow;
}

.inputContainer input {

  width: 300px;
  height:54px;
  background-attachment: transparent;
  border: 2px solid black;
  border-radius: 5px;
  

}